<card cardTitle="modal sizes">
  <button class="btn btn-primary" (click)="openModal(myModal)">open my modal</button>
  <button class="btn btn-primary" (click)="thirdModal.open()">modal that cannot be simply closed</button>
  <button class="btn btn-primary" (click)="fifthModal.open()">large modal</button>
  <button class="btn btn-primary" (click)="sixthModal.open()">small modal</button>
  <button class="btn btn-primary" (click)="seventhModal.open()">it opens first modal after you close it</button>
</card>

<modal #myModal>
  <modal-header>
    <h3>Modal header</h3>
  </modal-header>
  <modal-content>
    <div class="row justify-content-md-center">
      <div class = "col-md-3">
        <form #form="ngForm" >
          <div class="form-group">
            <label class= "control-label">Game Reserve</label>
            <select type="text" name="GameReserve" class="form-control input-antoinne">
              <option value="option1">The Great Morass Holland Bay Game Reserve, St. Thomas</option>
              <option value="option2">Portmore and Greater Portmore Game Reserve, St. Catherine</option>
              <option value="option3">Cabarita Point, Game Reserve, St. Catherine</option>
              <option value="option4">Amity Hall Game Reserve, St. Catherine</option>
              <option value="option5">The Long Island Game Reserve, Clarendon</option>
              <option value="option6">West Harbour-Peake Bay Game Reserve, Clarendon</option>
              <option value="option7">Alligator Pond, Gut River and Canoe Valley Game Reserve Manchester</option>
              <option value="option8">Mason River Savanna Game Reserve, Clarendon</option>
              <option value="option9">The Upper Morass Black River Game Reserve, St. Elizabeth</option>
              <option value="option10">The Black River Lower Morass Game Reserve, St. Elizabeth</option>
              <option value="option11">The Great Morass Parottee Game Reserve, St.  Elizabeth</option>
              <option value="option12">The Great Morass, Negril Game Reserve, Westmoreland and Hanover</option>
              <option value="option13">Bogue Lagoon Creek Game Reserve, St James</option>
              <option value="option14">Fairy Hill-Port Antonio Game Reserve, Portland</option>
              <option value="option15">Glistening Waters Game Reserve, Trelawny</option>
              <option value="option16">Reigate Game Reserve, Manchester </option>
              <option value="option17">Stanmore Hill Game Reserve, St. Elizabeth</option>
              <option value="option18">Knapdale Game Reserve, St. Ann</option>
              <option value="option19">Kingston and St. Andrew Game Reserve </option>
          </select>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input  type="date" name="Date" class="form-control input-antoinne" required>
            
          </div>
          <div class="form-group">
              <label>Game Bird Amount</label>
              <input type="number" name="GameBirdAmt"class="form-control input-antoinne" required>
  
            </div>
            <div class="form-group">
              <label>Other Bird Amount</label>
              <input  type="number" name="OtherBirdAmt" class="form-control input-antoinne" required>
                        </div>
            <div class="form-group">
                <label>ID</label> 
              </div>
          <div class="form-group">  
              <button type="submit" [disabled]="form.invalid" class="btn btn-success" >SUBMIT</button>         
          </div>
        </form>
        </div>
        </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(myModal)">close</button>
  </modal-footer>
</modal>

<modal #thirdModal [closeOnEscape]="false" [closeOnOutsideClick]="false">
  <modal-header>
    <h3>modal that cannot be simply closed</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
      Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
      cardigan american apparel, butcher voluptate nisi qui.</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(thirdModal)">close</button>
  </modal-footer>
</modal>

<modal #fifthModal modalClass="modal-lg">
  <modal-header>
    <h3>large modal</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
      Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
      cardigan american apparel, butcher voluptate nisi qui.</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(fifthModal)">close</button>
  </modal-footer>
</modal>

<modal #sixthModal modalClass="modal-sm">
  <modal-header>
    <h3>small modal</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
      Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
      cardigan american apparel, butcher voluptate nisi qui.</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(sixthModal)">close</button>
  </modal-footer>
</modal>

<modal #seventhModal (onClose)="onClose()">
  <modal-header>
    <h3>it opens first modal after you close it</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
      Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
      cardigan american apparel, butcher voluptate nisi qui.</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(seventhModal)">close</button>
  </modal-footer>
</modal>
