<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/avatar.jpg" width="150px" class="user-avatar" />
            <h1>B.I.R.D SYSTEM</h1>
<form #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="Liscence" #Liscence="ngModel" [(ngModel)]=" service.formData.Liscence">
    <div class="form-group">
      <label>First Name</label>
      <input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control input-antoinne" required>
      <div class="alert alert-danger" role="alert" *ngIf="FirstName.invalid && FirstName.touched">This field is required.</div>
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control input-antoinne" required>
      <div class="alert alert-danger" role="alert" *ngIf="LastName.invalid && LastName.touched">This field is required.</div>
    </div>
    <div class="form-group">
        <label>Telephone Number</label>
        <input name="tele" #tele="ngModel" [(ngModel)]="service.formData.tele" class="form-control input-antoinne" required>
        <div class="alert alert-danger" role="alert" *ngIf="tele.invalid && tele.touched">This field is required.</div>
      </div>
      <div class="form-group">
        <label>Bird Hunting Liscence</label>
        <input name="Liscence" #Liscence="ngModel" [(ngModel)]="service.formData.Liscence" class="form-control input-antoinne">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control input-antoinne" autofocus required email ngModel>
        <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)"> Please enter a valid email. </div>
      
      <div class="form-group">
        <label>Password</label>
        <input type = "current-password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control input-antoinne" required minlength="3" maxlength="20" ngModel >
        <div class="alert alert-danger" role="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)">Please enter a valid password between 3 to 20 chars.</div>
      </div>
      <div class="form-group  col-md-6">
      <label>Choose a profile picture:</label>
      <input type="file" name="ProPhoto" accept="image/png, image/jpeg"  #ProPhoto="ngModel" [(ngModel)]="service.formData.ProPhoto" class="form-control input-antoinne">
     </div>
    </div>
    
    <div class="form-group">
      <button type="button" [disabled]="form.invalid" class="btn btn-success"  [routerLink]="['/login']" (click)="notification('success')">SUBMIT</button>
    </div>
  </form>
  </div>
  </div>
  </div>
