
  <div class="row justify-content-md-center">
<div class = "col-md-3">
  <form #form="ngForm" (submit)="submitData(form)">
    <div class="form-group">
      <label class= "control-label">Game Reserve</label>
      <select [(ngModel)]="inputData.GameReserve" type="text" name="GameReserve" class="form-control input-antoinne">
        <option value="option1">The Great Morass Holland Bay Game Reserve, St. Thomas</option>
        <option value="option2">Portmore and Greater Portmore Game Reserve, St. Catherine</option>
        <option value="option3">Cabarita Point, Game Reserve, St. Catherine</option>
        <option value="option4">Amity Hall Game Reserve, St. Catherine</option>
        <option value="option5">The Long Island Game Reserve, Clarendon</option>
        <option value="option6">West Harbour-Peake Bay Game Reserve, Clarendon</option>
        <option value="option7">Alligator Pond, Gut River and Canoe Valley Game Reserve Manchester</option>
        <option value="option8">Mason River Savanna Game Reserve, Clarendon</option>
        <option value="option9">The Upper Morass Black River Game Reserve, St. Elizabeth</option>
        <option value="option10">The Black River Lower Morass Game Reserve, St. Elizabeth</option>
        <option value="option11">The Great Morass Parottee Game Reserve, St.  Elizabeth</option>
        <option value="option12">The Great Morass, Negril Game Reserve, Westmoreland and Hanover</option>
        <option value="option13">Bogue Lagoon Creek Game Reserve, St James</option>
        <option value="option14">Fairy Hill-Port Antonio Game Reserve, Portland</option>
        <option value="option15">Glistening Waters Game Reserve, Trelawny</option>
        <option value="option16">Reigate Game Reserve, Manchester </option>
        <option value="option17">Stanmore Hill Game Reserve, St. Elizabeth</option>
        <option value="option18">Knapdale Game Reserve, St. Ann</option>
        <option value="option19">Kingston and St. Andrew Game Reserve </option>
    </select>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input  [(ngModel)]="inputData.Date" type="date" name="Date" #Date="ngModel" class="form-control input-antoinne" required>
      <div class="alert alert-danger" role="alert" *ngIf="Date.invalid && Date.touched">This field is required.</div>
    </div>
    <div class="form-group">
        <label>Game Bird Amount</label>
        <input  [(ngModel)]="inputData.GameBirdAmt" #GameBirdAmt ="ngModel" type="number" name="GameBirdAmt"class="form-control input-antoinne" required>
        <div class="alert alert-danger" role="alert" *ngIf="GameBirdAmt.invalid && GameBirdAmt.touched">This field is required.</div>
      </div>
      <div class="form-group">
        <label>Other Bird Amount</label>
        <input  [(ngModel)]="inputData.OtherBirdAmt" #OtherBirdAmt = "ngModel" type="number" name="OtherBirdAmt" class="form-control input-antoinne" required>
        <div class="alert alert-danger" role="alert" *ngIf="OtherBirdAmt.invalid && OtherBirdAmt.touched">This field is required.</div>
      </div>
      <div class="form-group">
          <label>ID</label>
          <input  [(ngModel)]="inputData.Id" #Id = "ngModel" type="number" name="Id" class="form-control input-antoinne" required>    
          <div class="alert alert-danger" role="alert" *ngIf="Id.invalid && Id.touched">This field is required.</div>  
        </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-success" (click)="notification('success')">SUBMIT</button>
     
    </div>
  </form>
  </div>
  </div>